body{
    background-color:#202431;
    display:flex;
    justify-content:center;
    font-family: 'Poppins', sans-serif;
}

#task{
    width: 60%;
    height: 32px;
}

svg{
    fill:#fff;
}

button{
    height: 35px;
    width:35px;
    border: none;
    border-radius: 20px;
    outline: 0;
    padding-top:3px;
    margin: 0px 5px;
    transition: .2s linear;
    border: 2px solid;
}

#addBtn{
    padding-top:5px;
    border-color: #F6AE2D;
    background-color: #484F70;
}

#addBtn:hover{
    border-color: #db9c27;
    background-color: #393f5a;
}
/*button:nth-child(even) {
    margin: 0px !important;
}*/


.container{
    display:flex;
    flex-direction: column;
    background-color: #282C3E;
    min-height:30vh;
    min-width:30vw;
    width:auto;
    height:auto;
    margin-top:10vh;
    border-radius: 20px;
    padding:4%;
    border: 2px solid;
    border-color: #F6AE2D;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    display:flex;
    align-items: center;
}

ul{
    padding-inline-start: 0px;
    max-width: 760px;
}

li{
    display:flex;
    background-color: #ffffff; 
    padding: 10px 0px 10px 40px;
    color:#202431;
    /*text-shadow: 1px 1px 4px #000000;*/
    border-radius:25px;
    margin-top:1px;
    min-height: 40px;
    word-break: break-all;
    word-wrap: break-word;
    border: 3px solid;
    border-color: #484F70;
}

li:nth-child(odd) {
    background-color: #F5F5F5;
}


input {
    font-family: 'Poppins', sans-serif;
    min-height: 45px;
    border-radius: 25px;
    outline: 0;
    padding-left: 3%;
    border:none;
    margin-left: 7px;
    border: 3px solid;
    border-color: #484F70;
}

h1, h2 {
    color:#fff;
    text-shadow: 2px 2px 4px #000000;
}

h1{
    font-family: 'Berkshire Swash', cursive;
    font-size: 4.5em;
    align-self: center;
}

h2{
    font-size:1.2em;
}

span{
    color:#F6AE2D;
}

.complete{
    background-color: #6d9781;
    padding-top:5px;
    border: 2px solid;
    border-color: #608370;
}

.complete:hover{
    background-color: #587a69;
    border-color: #4a6456;
}

.remove{
    background-color: #e46f58;
    border: 2px solid;
    border-color: #cc644f;
}

.remove:hover{
    background-color: #c25f4b;
    border-color: #aa5342;
}

.completed{
    text-decoration: line-through;
}
